KEYCLOAK_ISSUER_URI=http://localhost:8088/realms/ng-fields
FRONTEND_URL=http://localhost:4200
REDIS_HOST=localhost
REDIS_PORT=6379
AUTH_SERVICE_URL=http://localhost:8081
CLIENT_SERVICE_URL=http://localhost:8082
INTERVENTION_SERVICE_URL=http://localhost:8083
MEDIA_SERVICE_URL=http://localhost:8084
NOTIFICATION_SERVICE_URL=http://localhost:8085
REPORT_SERVICE_URL=http://localhost:8086
